<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">PRAVILA</th>
      <th scope="col">Opis pravila</th>
      <th scope="col">BELEX Vjerovatnoca</th>
      <th scope="col">CROBEX Vjerovatnoca</th>

    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Pravilo 1</th>
      <td>Ako je S&P500 rasla 3 dana zaredom po cijeni zatvaranja kako su se ponasale BELEX I CROBEX</td>
      <td>{{vjerovatnoca1[0]}}</td>
      <td>{{vjerovatnoca1[1]}}</td>
    </tr>

     <tr class="table-active">
      <th scope="row">Pravilo 2</th>
      <td>Ako je S&P500 rasla 3 dana zaredom po obimu trgovine kako su se ponasale BELEX I CROBEX</td>
     <td>{{vjerovatnoca2[0]}}</td>
      <td>{{vjerovatnoca2[1]}}</td>
    </tr>

     <tr class="table-active">
      <th scope="row">Pravilo 3</th>
      <td>Ako je S&P500 opadala 3 dana zaredom po cijeni zatvaranja kako su se ponasale BELEX I CROBEX</td>
      <td>{{vjerovatnoca3[0]}}</td>
      <td>{{vjerovatnoca3[1]}}</td>
    </tr>

     <tr class="table-active">
      <th scope="row">Pravilo 4</th>
      <td>Ako je S&P500 opadala 3 dana zaredom po obimu trgovine kako su se ponasale BELEX I CROBEX</td>
      <td>{{vjerovatnoca4[0]}}</td>
      <td>{{vjerovatnoca4[1]}}</td>
    </tr>

    <tr class="table-active">
      <th scope="row">Pravilo 5</th>
      <td>Stohasticki oscilator RSI(Oversold)</td>
      <td>{{vjerovatnoca5[0]}}</td>
      <td>{{vjerovatnoca5[1]}}</td>
    </tr>

     <tr class="table-active">
      <th scope="row">Pravilo 6</th>
      <td>Stohasticki oscilator RSI(Overbought)</td>
      <td>{{vjerovatnoca6[0]}}</td>
      <td>{{vjerovatnoca6[1]}}</td>
    </tr>

    <tr class="table-active">
      <th scope="row">Pravilo 7</th>
      <td>Simple Moving Average SMA pokretni prosjek vjerovatnoca kupiti akcije na berzama BELEX I CROBEX cijena zatvaranja </td>
      <td>{{vjerovatnoca7[0]}}</td>
      <td>{{vjerovatnoca7[1]}}</td>
    </tr>

    <tr class="table-active">
      <th scope="row">Pravilo 8</th>
      <td>Simple Moving Average SMA pokretni prosjek vjerovatnoca ne kupovati akcije na berzama BELEX I CROBEX cijena zatvaranja </td>
      <td>{{vjerovatnoca7[2]}}</td>
      <td>{{vjerovatnoca7[3]}}</td>
    </tr>

<tr class="table-active">
      <th scope="row">Pravilo 9</th>
      <td>Simple Moving Average SMA pokretni prosjek vjerovatnoca kupiti akcije na berzama BELEX I CROBEX   promet </td>
      <td>{{vjerovatnoca8[0]}}</td>
      <td>{{vjerovatnoca8[1]}}</td>
    </tr>

    <tr class="table-active">
      <th scope="row">Pravilo 10</th>
      <td>Simple Moving Average SMA pokretni prosjek vjerovatnoca ne kupovati akcije na berzama BELEX I CROBEX  promet </td>
      <td>{{vjerovatnoca8[2]}}</td>
      <td>{{vjerovatnoca8[3]}}</td>
    </tr>
