<html>
  <head>

  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">

          <ul class="nav navbar-nav" routerLinkActive="active">
              <li class="nav-item"><a class="navbar-brand" routerLink="s&p500">S & P 500</a></li>
              <li class="nav-item"><a class="navbar-brand" routerLink="beograd">Beograd</a></li>
              <li class="nav-item"><a class="navbar-brand" routerLink="zagreb">Zagreb</a></li>


          </ul>
      </div>

</nav>

      <router-outlet></router-outlet>
  </body>
</html>
